body{
  background-color: #eaf6f6;
}
img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
hr{
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 5%
}
h1, h3{
  color: #66bfbf;
}
