<%- include("header") -%>
<h2>This is the about page.</h2>
<p>kjbfsljdbchjbs cljshbjl lv dhl vjh fjh f vhj bvhjd jjfhvbfhvbfbvhjdaf vjl hj  hjbhj csfd sd jhbvjkaf vvfvkfbvjkf vjvskdfn jhnjn</p>
<%- include("footer") -%>
